:root {
  --maincolor: rgba(147, 86, 220, 1);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
body a {
  text-decoration: none;
}
body a, body p, body h1, body h3, body h2 {
  margin: 0;
}
body .text1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
}
body .text2 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: center;
}
body .text3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  text-align: center;
}

.header_index {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 113px;
}
.header_index .log_head {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078) !important;
  position: relative;
  z-index: 1;
}
.header_index .log_head img {
  height: 36px;
}
.header_index .localisation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #eaeaea;
  position: relative;
  gap: 18px;
  z-index: 0;
  height: 50px;
}
.header_index .localisation i {
  size: 16px;
}

@media (min-width: 767.98px) {
  .header_index {
    height: 146px;
  }
  .header_index .log_head {
    height: 93px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  width: 100%;
  height: 186px;
  background-color: #353535;
}
footer h2 {
  padding-left: 20px;
  margin: 0;
  color: white;
  width: 137.58px;
  height: 27px;
  padding-top: 10px;
  font-family: shrikhand;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.24px;
  text-align: left;
}
footer ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 99px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  text-decoration: none;
}
footer li {
  display: flex;
  gap: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}

.header_resto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 63px;
}
.header_resto .log_head {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078) !important;
  position: relative;
  z-index: 1;
}
.header_resto .log_head img {
  height: 36px;
}

.name_resto .fa-heart {
  font-size: 21px;
}

.resto {
  object-fit: cover;
  width: 100%;
  z-index: 0;
  height: 275px;
  top: 63px;
  z-index: 0;
}

.main_contenaire_resto {
  top: 315px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menuliste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(246, 246, 246);
  top: 275px;
  margin-top: -25px;
  gap: 20px;
  width: 100%;
  z-index: 1;
  border-radius: 20px 20px 0px 0px;
}
.menuliste .name_resto {
  padding: 20px;
  display: flex;
  align-items: center;
}

.entre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.entre .zaa {
  width: 90%;
}
.entre .zaa h2 {
  border-bottom: 1px rgb(153, 226, 208) solid;
  width: 40px;
}

.li {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 90%;
  background: rgb(255, 255, 255);
  height: 69px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.test {
  height: 42px;
  gap: 5px;
  width: 82%;
  padding: 15px;
}
.test p {
  text-align: left;
  width: 100%;
  overflow: hidden;
  height: 22px;
}

.price {
  display: flex;
  align-items: end;
  justify-content: end;
  width: auto;
  padding: 15px;
}

.menucheck {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 69px;
  background: rgb(153, 226, 208);
  border-radius: 0px 15px 15px 0px;
  margin-right: -59px;
  opacity: 0;
}

.li:hover .menucheck {
  margin-right: 0;
  opacity: 1;
  display: flex;
}

.li:hover .test {
  width: 65%;
}

.main_contenaire {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
}

.info {
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  gap: 27px;
}
.info h1 {
  width: 73.4%;
}
.info p {
  width: 84%;
}
.info a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: white;
}

.fonctionement {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0px 20px 0px;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.fonctionement h2 {
  left: 70px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
}
.fonctionement .fonctionnement-contenair {
  gap: 15px;
  width: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fonctionement .fonctionnement-contenair-card {
  position: relative;
  height: 72.38px;
  display: flex;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  gap: 30px;
}
.fonctionement .fonctionnement-contenair-card .fa-mobile-screen-button,
.fonctionement .fonctionnement-contenair-card .fa-list-ul {
  color: #7e7e7e;
}
.fonctionement .fonctionnement-contenair-card .fa-store {
  color: #9356dc;
}
.fonctionement .fonctionnement-contenair-card h3 {
  width: 67%;
}
.fonctionement .fa-circle {
  position: absolute;
}
.fonctionement p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 24px;
  left: -15px;
  background-color: #9356dc;
  border: #9356dc 3px solid;
  border-radius: 45px;
  height: 24px;
  width: 24px;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 14.18px;
  font-weight: 500;
  line-height: 16.62px;
}

@media (min-width: 767.98px) {
  .info h1 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    text-align: center;
  }
  .info p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: center;
  }
  .fonctionement .fonctionnement-contenair {
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
  }
  .fonctionement .fonctionnement-contenair-card {
    width: 30.6%;
  }
  .fonctionement h2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.fa-heart {
  position: absolute;
  right: 40px;
}

.cls {
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.fa-solid {
  opacity: 0;
}

.fa-regular {
  opacity: 1;
}

.fa-regular:hover {
  opacity: 0;
}

.fa-solid:hover {
  opacity: 1;
}

.restaurant {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 91%;
  background-color: rgb(246, 246, 246);
}
.restaurant h2 {
  height: 68px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
}
.restaurant .restaurant-contenaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  width: 100%;
  height: 1058px;
}
.restaurant .restaurant-contenaire a {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  width: 100%;
  height: 251px;
  object-fit: cover;
  border-radius: 0px 0px 15px 15px;
}
.restaurant .restaurant-contenaire .restaurant-contenaire-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  width: 100%;
  height: 251px;
  object-fit: cover;
  border-radius: 0px 0px 15px 15px;
}
.restaurant .img-restaurent {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant .contenaire-card-info {
  display: flex;
  justify-content: flex-start;
  gap: 105px;
  align-items: center;
  height: 77px;
  margin: 0;
  position: relative;
  left: 20px;
}
.restaurant .contenaire-card-info i {
  font-size: 22px;
}
.restaurant .contenaire-card-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
}
.restaurant .contenaire-card-info p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
  text-align: left;
}

/*# sourceMappingURL=inde.css.map */
