:root {
  --maincolor: rgba(147, 86, 220, 1);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: roboto;
}
body a {
  text-decoration: none;
  color: inherit;
}
body a, body p, body h1, body h3, body h2 {
  margin: 0;
}
body .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  text-align: center;
  color: white;
}
body .text1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
}
body .menu_card_title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
}
body .subtitle_text {
  font-size: 15.04px;
  font-weight: 300;
  line-height: 17.63px;
  text-align: left;
}
body .price {
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
  text-align: center;
}
body .text6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
}

/***Header index**/
.header_index {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 113px;
}
.header_index .log_head {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078) !important;
  position: relative;
  z-index: 1;
}
.header_index .log_head img {
  height: 36px;
}
.header_index .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #eaeaea;
  position: relative;
  gap: 18px;
  z-index: 0;
  height: 50px;
}
.header_index .localisation i {
  font-size: 16px;
}

/***Header restaurant**/
.header_resto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 63px;
}
.header_resto a {
  position: absolute;
  top: 17px;
  left: 17px;
}
.header_resto .log_head {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078) !important;
  position: relative;
  z-index: 1;
}
.header_resto .log_head img {
  height: 36px;
}
.header_resto .log_head .fa-solid {
  font-size: 27px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  width: 100%;
  height: 186px;
  background-color: #353535;
}
footer h2 {
  padding-left: 20px;
  margin: 0;
  color: white;
  width: 137.58px;
  height: 27px;
  padding-top: 10px;
  font-family: shrikhand;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.24px;
  text-align: left;
}
footer ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 99px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  text-decoration: none;
}
footer li {
  display: flex;
  gap: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}

.main_contenaire_resto {
  top: 315px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /*Image restaurante*/
}
.main_contenaire_resto .resto {
  object-fit: cover;
  width: 100%;
  z-index: 0;
  height: 275px;
  top: 63px;
  z-index: 0;
}
.main_contenaire_resto .menuliste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(246, 246, 246);
  top: 343px;
  margin-top: -30px;
  padding-bottom: 30px;
  gap: 20px;
  width: 100%;
  z-index: 1;
  border-radius: 40px 40px 0px 0px;
}
.main_contenaire_resto .menuliste .entre,
.main_contenaire_resto .menuliste .plat,
.main_contenaire_resto .menuliste .dessert {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.main_contenaire_resto .menuliste .entre .name_section,
.main_contenaire_resto .menuliste .plat .name_section,
.main_contenaire_resto .menuliste .dessert .name_section {
  width: 90%;
}
.main_contenaire_resto .menuliste .entre .name_section h2,
.main_contenaire_resto .menuliste .plat .name_section h2,
.main_contenaire_resto .menuliste .dessert .name_section h2 {
  border-bottom: 2px rgb(153, 226, 208) solid;
  width: 40px;
}
.main_contenaire_resto .menuliste .name_resto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 17px;
  font-family: Shrikhand;
  font-size: 19px;
  font-weight: 400;
  width: 95%;
}
.main_contenaire_resto .menuliste .name_resto .heart_placement {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_contenaire_resto .menuliste .name_resto h2 {
  width: 80%;
  margin-top: 23.655px;
  margin-bottom: 23.655px;
}
.main_contenaire_resto .menuliste .name_resto .fa-heart {
  font-size: 21px;
}
.main_contenaire_resto .menuliste .name_resto .fa-solid {
  opacity: 0;
}
.main_contenaire_resto .menuliste .name_resto .fa-regular {
  opacity: 1;
}
.main_contenaire_resto .menuliste .name_resto .fa-regular:hover {
  opacity: 0;
}
.main_contenaire_resto .menuliste .name_resto .fa-solid:hover {
  opacity: 1;
}
.main_contenaire_resto .menuliste .name_resto .fa-heart {
  position: absolute;
}
.main_contenaire_resto .menuliste .name_resto .cls {
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.main_contenaire_resto .btn_resto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_card {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 90%;
  background: rgb(255, 255, 255);
  height: 69px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}
.menu_card .menu_card_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  width: auto;
  padding-left: 15px;
  overflow: hidden;
  white-space: nowrap;
}
.menu_card .menu_card_info .menu_card_subtitle,
.menu_card .menu_card_info .menu_card_title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_card .price {
  padding-top: 20px;
  padding-right: 15px;
  margin-left: auto;
}
.menu_card .menucheck i {
  border-color: white;
  background: white;
  border-radius: 15px;
}
.menu_card .fa-circle-check {
  color: rgb(153, 226, 208);
}

.menu_card .menucheck {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 69px;
  background: rgb(153, 226, 208);
  border-radius: 0px 15px 15px 0px;
  margin-right: -59px;
  position: relative;
  transition: margin 1s ease;
}

.menu_card:hover .menucheck {
  margin-right: 0;
  display: flex;
  margin-right: 0;
}

.menu_card:hover .fa-circle-check {
  animation: rotate 1s ease-in-out;
  color: rgb(153, 226, 208);
}

.main_contenaire {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  gap: 27px;
}
.info h1 {
  width: 73.4%;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  text-align: center;
}
.info p {
  width: 84%;
}
.info .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: white;
}

.fonctionement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 0px 20px 0px;
  height: auto;
  background-color: white;
}
.fonctionement h2 {
  left: 70px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
}
.fonctionement .fonctionnement-contenair {
  gap: 15px;
  width: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fonctionement .fonctionnement-contenair-card {
  position: relative;
  height: 72.38px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  gap: 30px;
}
.fonctionement .fonctionnement-contenair-card .fa-mobile-screen-button,
.fonctionement .fonctionnement-contenair-card .fa-list-ul {
  color: #7e7e7e;
}
.fonctionement .fonctionnement-contenair-card .fa-store {
  color: #9356dc;
}
.fonctionement .fonctionnement-contenair-card h3 {
  width: 67%;
}
.fonctionement .fa-circle {
  position: absolute;
}
.fonctionement p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 24px;
  left: -15px;
  background-color: #9356dc;
  border: #9356dc 3px solid;
  border-radius: 45px;
  height: 24px;
  width: 24px;
  text-align: center;
  color: white;
  font-size: 14.18px;
  font-weight: 500;
  line-height: 16.62px;
}

.restaurant {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 30px;
  justify-content: center;
  width: 91%;
  background-color: rgb(246, 246, 246);
}
.restaurant h2 {
  height: 68px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
}
.restaurant .restaurant-contenaire {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}
.restaurant .restaurant-contenaire a {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  width: 100%;
  height: 251px;
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;
}
.restaurant .restaurant-contenaire .restaurant-contenaire-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  width: 100%;
  height: 251px;
  object-fit: cover;
  border-radius: 0px 0px 15px 15px;
}
.restaurant .restaurant-contenaire .fa-solid {
  opacity: 0;
}
.restaurant .restaurant-contenaire .fa-regular {
  opacity: 1;
}
.restaurant .restaurant-contenaire .fa-regular:hover {
  opacity: 0;
}
.restaurant .restaurant-contenaire .fa-solid:hover {
  opacity: 1;
  animation: opacity 1s ease;
}
.restaurant .fa-heart {
  position: absolute;
  right: 40px;
}
.restaurant .cls {
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.img-restaurent {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.contenaire-card-info {
  display: flex;
  justify-content: flex-start;
  gap: 105px;
  align-items: center;
  height: 77px;
  margin: 0;
  position: relative;
  left: 20px;
}
.contenaire-card-info i {
  font-size: 22px;
}
.contenaire-card-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
}
.contenaire-card-info p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
  text-align: left;
}

.loader {
  position: fixed;
  background-color: rgb(190, 190, 190);
  height: 100vh;
  inset: 0;
  z-index: 3;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: endload 1s ease forwards;
}
.loader p {
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: gradient-scroll 2.5s linear infinite, text-blur-out 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
  background: linear-gradient(to right, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-solid {
  transition: all 1s ease;
  opacity: 1;
}

.loading {
  font-size: 72px;
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: unset;
  opacity: 1;
}

.entre,
.dessert,
.plat {
  opacity: 1;
  animation: appar 3s ease;
}

.entre,
.plat,
.dessert {
  opacity: 0;
  animation: appar 3s ease forwards;
}

.entre {
  animation-delay: 0s;
}

.plat {
  animation-delay: 1s;
}

.dessert {
  animation-delay: 2s;
}

@keyframes appar {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes endload {
  0% {
    opacity: 0.8;
  }
  95% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes gradient-scroll {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 1024px) {
  .info h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    text-align: center;
  }
  .info p {
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: center;
  }
  .fonctionement {
    height: 228px;
    gap: 25px;
  }
  .fonctionement .fonctionnement-contenair {
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
  }
  .fonctionement .fonctionnement-contenair-card {
    width: calc(33.33% - 20px);
    gap: 20px;
  }
  .fonctionement h2 {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 28px;
    height: auto;
  }
  .restaurant h2 {
    width: 75%;
    text-align: left;
    height: 25px;
  }
  .restaurant .restaurant-contenaire {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    width: 75%;
    align-items: center;
    justify-content: space-between;
  }
  .restaurant .restaurant-contenaire a {
    width: calc(50% - 50px);
  }
  .restaurant .restaurant-contenaire a .restaurant-contenaire-card {
    width: 100%;
  }
  .main_contenaire_resto .menuliste {
    width: 73%;
    align-items: center;
  }
  .main_contenaire_resto .menuliste .entre,
  .main_contenaire_resto .menuliste .plat,
  .main_contenaire_resto .menuliste .dessert {
    width: 60%;
  }
  .main_contenaire_resto .menuliste .name_resto {
    width: 45%;
  }
  footer {
    height: 114px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
  }
  footer nav {
    height: 20px;
  }
  footer nav ul {
    margin: 0;
    height: 20px;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
