:root {
  --maincolor: rgba(147, 86, 220, 1);
}

body {
  margin: 0;
}
body a {
  text-decoration: none;
  color: black;
}
body a, body p, body h1, body h3, body h2 {
  margin: 0;
}
body .text1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
}
body .text2 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: center;
}
body .text3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  text-align: center;
}

.header_index {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 113px;
}
.header_index .log_head {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078) !important;
  position: relative;
  z-index: 1;
}
.header_index .log_head img {
  height: 36px;
}
.header_index .localisation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #eaeaea;
  position: relative;
  gap: 18px;
  z-index: 0;
  height: 50px;
}
.header_index .localisation i {
  size: 16px;
}

@media (min-width: 767.98px) {
  .header_index {
    height: 146px;
  }
  .header_index .log_head {
    height: 93px;
  }
}
.info {
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  gap: 27px;
}
.info h1 {
  width: 73.4%;
}
.info p {
  width: 84%;
}
.info a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: white;
}

.fonctionement {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 440px;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.fonctionement h2 {
  left: 70px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
}
.fonctionement .fonctionnement-contenair {
  gap: 15px;
  width: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fonctionement .fonctionnement-contenair-card {
  position: relative;
  height: 72.38px;
  display: flex;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  gap: 30px;
}
.fonctionement .fonctionnement-contenair-card .fa-mobile-screen-button,
.fonctionement .fonctionnement-contenair-card .fa-list-ul {
  color: #7e7e7e;
}
.fonctionement .fonctionnement-contenair-card .fa-store {
  color: #9356dc;
}
.fonctionement .fonctionnement-contenair-card h3 {
  width: 67%;
}
.fonctionement .fa-circle {
  position: absolute;
}
.fonctionement p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 24px;
  left: -15px;
  background-color: #9356dc;
  border: #9356dc 3px solid;
  border-radius: 45px;
  height: 24px;
  width: 24px;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 14.18px;
  font-weight: 500;
  line-height: 16.62px;
}

@media (min-width: 767.98px) {
  .info h1 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    text-align: center;
  }
  .info p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: center;
  }
  .fonctionement .fonctionnement-contenair {
    flex-direction: row;
    width: 73.2%;
    justify-content: space-between;
  }
  .fonctionement .fonctionnement-contenair-card {
    width: 30.6%;
  }
}

/*# sourceMappingURL=style.css.map */
