@media (min-width: 1024px) {
    .info {
        h1 {
            font-family: Roboto;
            font-size: 40px;
            font-weight: 700;
            line-height: 46.88px;
            text-align: center;
        }
        p {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 300;
            line-height: 21.09px;
            text-align: center;
        }
    }
    .fonctionement {
        height: 228px;
        gap: 25px;
        .fonctionnement-contenair {
            flex-direction: row;
            width: 75%;
            justify-content: space-between;
        }
        .fonctionnement-contenair-card {
            width: calc(33.33% - 20px);
            gap: 20px;
        }
        h2 {
            width: 75%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    .restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 28px;
        height: auto;
        h2 {
            width: 75%;
            text-align: left;
            height: 25px;
        }
        .restaurant-contenaire {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 100px;
            width: 75%;
            align-items: center;
            justify-content: space-between;
            a {
                width: calc(50% - 50px);
                .restaurant-contenaire-card {
                    width: 100%;
                }
            }
        }
    }
    .menuliste {
        width: 73%;
        align-items: center;
        justify-content: start;
        padding-top: 40px;
        .entre,
        .plat,
        .dessert {
            width: 60%;
        }
        .name_resto {
            width: 29%;
        }
    }
}
