@media (min-width: 1024px) {
    .info {
        h1 {
            
            font-size: 40px;
            font-weight: 700;
            line-height: 46.88px;
            text-align: center;
        }
        p {
            
            font-size: 18px;
            font-weight: 300;
            line-height: 21.09px;
            text-align: center;
        }
    }
    .fonctionement {
        height: 228px;
        gap: 25px;
        .fonctionnement-contenair {
            flex-direction: row;
            width: 75%;
            justify-content: space-between;
            
        }
        
        h2 {
            width: 75%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    .restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 28px;
        height: auto;
        h2 {
            width: 75%;
            text-align: left;
            height: 25px;
        }
        .restaurant-contenaire {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 100px;
            width: 75%;
            align-items: center;
            justify-content: space-between;
            a {
                width: calc(50% - 50px);
                .restaurant-contenaire-card {
                    width: 100%;
                }
            }
        }
    }

    .main_contenaire_resto{
    .menuliste {
        width: 73%;
        align-items: center;
        
        .entre,
        .plat,
        .dessert {
            width: 60%;
        }
        .name_resto {
            width: 45%;
        }
    }
    
}
    footer{
        height: 114px;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: flex-start;
        
        nav{
           
            height: 20px;
            
        ul{
            margin: 0;
            height: 20px;
            flex-direction: row;
            
        }
    }
    }

}
