
.loader {
  position: fixed;
  background-color: rgb(190, 190, 190);
  height: 100vh;
  inset: 0;
  z-index: 3;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: endload 3s ease forwards;
  
  p {
    /*annimation text loader*/
    font-size: 32px;
    animation:
      gradient-scroll 0.5s linear infinite,
      text-blur-out 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
    background: linear-gradient(to right,var(--maincolor), var(--secondarycolor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}
.loading {
  font-size: 72px;  
  background: var(--maincolor);  
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: unset;
  opacity: 1;
}
.fa-solid {
  /*annimation text heart*/
  transition: all 0.7s ease;
  opacity: 1;
}
/*annimation liste menu restaurant*/
.anim01,.anim02,.anim03,.anim04,.anim05,.anim06,.anim07,.anim08,.anim09,.anim10{
  opacity: 0;
  animation: appar 2s  ease forwards;
}

.anim01 {
  animation-delay: 0s;
}
.anim02 {
  animation-delay: 0.4s;
}
.anim03 {
  animation-delay: 0.8s;
}
.anim04 {
  animation-delay: 1.2s;
}
.anim05 {
  animation-delay: 1.6s;
}
.anim06 {
  animation-delay: 2s;
}
.anim07 {
  animation-delay: 2.4s;
}
.anim08 {
  animation-delay: 2.8s;
}
.anim09 {
  animation-delay: 3.2s;
}
.anim10 {
  animation-delay: 3.6s;
}

/*Keyframe*/
@keyframes appar {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes endload {
  0% {
    opacity: 0.8;
  }
  95% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes text-blur-out {
  /*annimation text loader*/
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01px);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01px);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes gradient-scroll {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(90deg);
  }

  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
