footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 186px;
    background-color: #353535;
    

    h2 {
        padding-left: 20px;
        margin: 0;
        color: white;
        width: 137.58px;
        height: 27px;
        padding-top: 10px;

        font-family: shrikhand;
        font-size: 18px;

        font-weight: 400;
        line-height: 26.24px;
        text-align: left;
    }

    ul {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        height: 99px;
        list-style: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        text-align: left;
        text-decoration: none;
    }
    li {
        display: flex;
        gap: 10px;
    }
    a {
        text-decoration: none;
        color: white;
    }
}