:root{
    --maincolor: rgba(147, 86, 220, 1);
}



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: roboto;
    a{
        text-decoration: none;
          color: inherit;
           
    }

    a,p,h1,h3,h2{
        margin: 0;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content:center ;
        border-radius: 25px;
        width: 218px;
        height: 50px;
        background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
        box-shadow: 0px 4px 10px 0px #00000040;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        text-align: center;
        color:white;
        
    }

    .text1{
        
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: left;

    }

    .text2{
        
font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 28.13px;
text-align: center;

    }

    .text3{
        
font-family: Roboto;
font-size: 18px;
font-weight: 300;
line-height: 21.09px;
text-align: center;

    }

    .text4{
        font-family: Roboto;
font-size: 15.04px;
font-weight: 300;
line-height: 17.63px;
text-align: left;

    }

    .text5{
        font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 21.09px;
text-align: left;

    }

    .xxx{
        font-family: Roboto;
font-size: 15.04px;
font-weight: 700;
line-height: 17.63px;
text-align: center;

    }

    .text6{
        font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: left;

    }

}

.srink{
    font-family: Shrikhand;
}
@import "_mixin.scss";
@import "header.scss";
@import "footer.scss";
@import "lanoteenchant.scss";
@import "index_maincontenair.scss";
@import "index_listeretaurant.scss";
@import "animation.scss";
@import "_mediaquerydesktop.scss";
