@import '_mixin';


.main_contenaire{
    flex: 1;
    width: 100%;
    @include flex-center; 
    flex-direction: column;
    
}

.info{
width: 100%;
background-color:var(--backgroundcolor) ;
@include flex-center; 
flex-direction: column;
height: auto;
padding-top: 20px;
padding-bottom: 30px;
gap: 27px;

    h1{
        width: 73.4%;
       

font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 28.13px;
text-align: center;


    }

    p{
    width: 84%;
    //styleName: Paragraph;
font-family: Roboto;
font-size: 18px;
font-weight: 300;
line-height: 21.09px;
text-align: center;
color: rgba(53, 53, 53, 1);


    }

    

}


.fonctionement {
    @include flex-center; 
    flex-direction: column;
    width: 100%;
    padding: 20px 0px 20px 00px;
    height: auto;   
    background-color: white;

    h2 {
        left: 70px;        
        font-size: 24px;
        font-weight: 700;
        line-height: 28.13px;
        text-align: left;
        width: 89%;
    }

    .fonctionnement-contenair {
        gap: 15px;
        width: 89%;
        @include flex-center; 
        flex-direction: column;        
    }

    .fonctionnement-contenair-card {
        position: relative;
        height: 72.38px;
        @include flex-center; 
        width: 335px;
        background-color: #f6f6f6;
        border-radius: 20px;
       
        box-shadow: 0px 4px 15px 0px #00000026;
        gap: 30px;

        .fa-mobile-screen-button,
        .fa-list-ul {
            color: #7e7e7e;
        }

        .fa-store {
            color: var(--maincolor);
        }

        h3 {
            width: 67%;
        }
    }

    .fa-circle {
        position: absolute;
    }
    p {
        @include flex-center; 
        margin: 0;
        position: absolute;
        top: 24px;
        left: -15px;
        background-color: var(--maincolor);
        border: var(--maincolor) 3px solid;
        border-radius: 45px;
        height: 24px;
        width: 24px;
        text-align: center;
        color: white;
        
        font-size: 14.18px;
        font-weight: 500;
        line-height: 16.62px;
    }
}

